// ###################################################
//      FONTS
// ###################################################

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap");

// ###################################################
//      VARIABLES
// ###################################################

$background: rgb(245, 245, 245);
$text: rgba(0, 0, 0, 0.7);
$text-white: rgba(255, 255, 255, 0.9);

$font-size: 18px;
$line-height: 22px;

$cursor-color: rgb(255, 255, 255);
$cursor-active-color: rgb(255, 153, 37);
$cursor-icon-color: rgb(40, 40, 40);

$navbarHeight: 5rem;
$collapseNavbarWidth: 1100px;
$navbarButtonHeight: 2.8rem;

// ###################################################
//      MIXINS
// ###################################################

@mixin transition($x...) {
    -webkit-transition: $x;
    -moz-transition: $x;
    -ms-transition: $x;
    -o-transition: $x;
    transition: $x;
}

@mixin transition-delay($delay) {
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin calc($property, $expression) {
    #{$property}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
    #{$property}: -ms-calc(#{$expression});
    #{$property}: -o-calc(#{$expression});
    #{$property}: calc(#{$expression});
}

@mixin border-radius($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    -ms-border-radius: $radius;
    -o-border-radius: $radius;
    border-radius: $radius;
}

@mixin box-shadow($value...) {
    -webkit-box-shadow: $value;
    -moz-box-shadow: $value;
    -ms-box-shadow: $value;
    -o-box-shadow: $value;
    box-shadow: $value;
}

@mixin filter($value) {
    -webkit-filter: $value;
    -moz-filter: $value;
    -ms-filter: $value;
    -o-filter: $value;
    filter: $value;
}

@mixin animation($animation) {
    -webkit-animation: $animation;
    -moz-animation: $animation;
    -ms-animation: $animation;
    -o-animation: $animation;
    animation: $animation;
}

@mixin animation-delay($delay) {
    -webkit-animation-delay: $delay;
    -moz-animation-delay: $delay;
    -ms-animation-delay: $delay;
    -o-animation-delay: $delay;
    animation-delay: $delay;
}

@mixin touch-action($value) {
    -webkit-touch-action: $value;
    -moz-touch-action: $value;
    -ms-touch-action: $value;
    -o-touch-action: $value;
    touch-action: $value;
}

@mixin inputPlaceholder() {
    $selector: "";
    $prefixes: (
        moz: "::-moz",
        webkit: "::-webkit",
        ie: ":-ms",
    );
    @each $prop, $value in $prefixes {
        @if $prop != "moz" {
            $selector: #{$value}-input-placeholder;
        } @else {
            $selector: #{$value}-placeholder;
        }
        @if & {
            &#{$selector} {
                @content;
            }
        } @else {
            #{$selector} {
                @content;
            }
        }
    }
    &::placeholder {
        @content;
    }
}

// ###################################################
//      MAIN ELEMENTS
// ###################################################

* {
    overflow: hidden;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    overscroll-behavior: none;
}

html {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-size: $font-size;
    @include touch-action(none);
}

body {
    user-select: none;
    position: fixed;
    height: 100%;
    width: 100%;
    overflow: hidden;
    cursor: none;

    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    @include touch-action(none);
}

video,
img {
    display: block;
}

#root {
    height: 100%;
    width: 100%;
    background-color: $background;
    color: $text;
}

// Autofill color
:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {
    transition: background-color 10000s;
    width: inherit;
    box-sizing: border-box;
    border: 0px solid rgba(255, 255, 255, 0);
    border-radius: 1000px;
    padding: 0 10px;
    -webkit-text-fill-color: white;
}

//Remove focus
:focus {
    outline: none;
}
::-moz-focus-inner {
    border: 0;
}

// ###################################################
//      APP
// ###################################################

.app {
    position: relative;
    height: 100%;
    width: 100%;
    overflow-y: hidden;

    &.scrollActive {
        overflow-y: scroll;
    }
}

// ###################################################
//      ORIENTATION NOT SUPPORTED
// ###################################################

.orientationNotSupported {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;

    .glass {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 60%;
        padding: 2rem;

        .icon {
            height: 2rem;
            max-height: 2rem;
            min-height: 2rem;
            width: 2rem;
            max-width: 2rem;
            min-width: 2rem;
            margin-bottom: 1rem;
        }

        .title {
            width: 100%;
            color: $text-white;
            margin-bottom: 1rem;
            font-size: 1.4rem;
            font-weight: 700;
            text-align: center;
            text-transform: uppercase;
        }

        .subtitle {
            width: 100%;
            color: $text-white;
            opacity: 0.6;
            font-size: 1.2rem;
            font-weight: 700;
            text-align: center;
        }
    }
}

// ################################################################################
// ################################################################################
//      PAGES
// ################################################################################
// ################################################################################

// ###################################################
//      LANDING
// ###################################################

.landing {
    pointer-events: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    .textContainer {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        z-index: 20;
        background: linear-gradient(60deg, rgb(20, 43, 74) 0%, rgb(61, 90, 128) 100%);
        color: rgb(233, 233, 233);

        .hideMask {
            overflow: hidden;

            .loadingText {
                display: inline-block;
                transform: translateY(100%);
                font-size: 2rem;
                font-weight: 400;
                line-height: 4rem;

                @media only screen and (min-width: 768px) {
                    font-size: 4rem;
                    line-height: 6rem;
                }
            }
        }
    }

    .slider {
        position: fixed;
        transform: translateY(100%);
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 21;
        background: linear-gradient(60deg, rgb(19, 30, 44) 0%, rgb(21, 31, 44) 100%);
    }
}

// ###################################################
//      WEB DEV
// ###################################################

.webDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    @include transition(opacity 0.4s ease-in-out);

    &.visible {
        opacity: 1;
    }
}

// ###################################################
//      GAME DEV
// ###################################################

.gameDev {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    @include transition(opacity 0.4s ease-in-out);

    &.visible {
        opacity: 1;
    }
}

// ###################################################
//      PRODUCT DESIGN
// ###################################################

.productDesign {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    opacity: 0;
    @include transition(opacity 0.4s ease-in-out);

    &.visible {
        opacity: 1;
    }
}

// ################################################################################
// ################################################################################
//      COMPONENTS
// ################################################################################
// ################################################################################

// ###################################################
//      CURSOR
// ###################################################

.cursor {
    pointer-events: none;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%);
    height: 34px;
    width: 34px;
    z-index: 9999;
    mix-blend-mode: difference;
    @include border-radius(100%);
    @include box-shadow(0 0 3px 1px $cursor-color);
    @include transition(
        background-color 0.2s ease-in-out,
        opacity 0.2s ease-in-out,
        transform 0.2s ease-in-out,
        mix-blend-mode 0.2s ease-in-out,
        box-shadow 0.2s ease-in-out,
        width 0.2s ease-in-out,
        height 0.2s ease-in-out
    );

    // HIDDEN
    &.hidden {
        opacity: 0;
    }

    // HOVERED
    &.hovered {
        transform: translate(-50%, -50%) scale(1.25);
        background-color: $cursor-color;
    }

    // CLICKED
    &.clicked {
        transform: translate(-50%, -50%) scale(0.9);
        background-color: $cursor-color;
    }

    // ICON
    .icon {
        transform: scale(0);
        height: 30px;
        width: 30px;
        opacity: 0;
        @include transition(transform 0.2s ease-in-out, opacity 0.2s ease-in-out);
        @include transition-delay(0s);

        &.playIcon {
            padding: 2px 0 0 5px;
        }

        .cls-1 {
            stroke: $cursor-icon-color !important;
        }
    }

    // PLAY || PAUSE ||SCROLL DOWN
    &.iconActive {
        height: 120px;
        width: 120px;
        mix-blend-mode: unset;
        background-color: $cursor-active-color;
        @include box-shadow(none);

        .icon {
            transform: scale(1);
            opacity: 1;
            @include transition-delay(0.2s);
        }
    }
}

// ###################################################
//      NAVBAR
// ###################################################

.navbar {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1500px;
    max-width: calc(100% - 20px);
    top: 10px;
    z-index: 50;
    margin: 10px auto;
    margin-top: calc(#{-$navbarHeight} - 10px);

    @media only screen and (max-width: $collapseNavbarWidth) {
        flex-direction: column;
        width: calc(100% - 20px);
        max-width: unset;
        margin: 10px;
        margin-top: calc(#{-$navbarHeight * 0.7} - 10px);
    }

    .nameContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $navbarHeight;

        @media only screen and (max-width: $collapseNavbarWidth) {
            height: $navbarHeight * 0.7;
            width: 100%;
        }

        .icon {
            height: $navbarHeight;
            max-height: $navbarHeight;
            min-height: $navbarHeight;
            width: $navbarHeight;
            max-width: $navbarHeight;
            min-width: $navbarHeight;
            padding: 1.5rem;

            @media only screen and (max-width: $collapseNavbarWidth) {
                height: $navbarHeight * 0.7;
                max-height: $navbarHeight * 0.7;
                min-height: $navbarHeight * 0.7;
                width: $navbarHeight * 0.7;
                max-width: $navbarHeight * 0.7;
                min-width: $navbarHeight * 0.7;
                padding: 1.1rem;
                padding-right: 1rem;
            }

            stop {
                @include transition(all 0.3s ease-in-out);
            }

            &.web {
                .stop1 {
                    stop-color: #2192bf;
                }

                .stop2 {
                    stop-color: #02f8ab;
                }
            }

            &.game {
                .stop1 {
                    stop-color: #f46b6b;
                }

                .stop2 {
                    stop-color: #f4a658;
                }
            }

            &.design {
                .stop1 {
                    stop-color: #733fff;
                }

                .stop2 {
                    stop-color: #fab4d6;
                }
            }
        }

        .name {
            color: $text-white;
            margin-right: 4rem;
            font-size: 1.4rem;
            font-weight: 600;

            @media only screen and (max-width: $collapseNavbarWidth) {
                flex-grow: 1;
                margin-right: 0;
                font-size: 1rem;
            }
        }

        .menuIcon {
            display: none;
            height: $navbarHeight;
            max-height: $navbarHeight;
            min-height: $navbarHeight;
            width: $navbarHeight;
            max-width: $navbarHeight;
            min-width: $navbarHeight;
            color: rgba(255, 255, 255, 0.445);
            padding: 1.9rem;

            @media only screen and (max-width: $collapseNavbarWidth) {
                display: block;
                height: $navbarHeight * 0.7;
                max-height: $navbarHeight * 0.7;
                min-height: $navbarHeight * 0.7;
                width: $navbarHeight * 0.7;
                max-width: $navbarHeight * 0.7;
                min-width: $navbarHeight * 0.7;
                padding: 1.3rem;
            }
        }
    }

    .buttonsContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: none;
        @include transition(all 0.2s ease-in-out);

        @media only screen and (max-width: $collapseNavbarWidth) {
            flex-direction: column;
            height: 0;
            width: 100%;
        }

        &.bigScreen {
            height: unset !important;
        }

        &.bigScreen {
            height: unset !important;
        }

        .pageButton {
            height: $navbarButtonHeight;
            cursor: none;
            background-color: transparent;
            color: rgba(255, 255, 255, 0.4);
            margin: 0.5rem 2rem;
            border: none;
            padding: 0.3rem 1rem;
            font-size: 1.1rem;
            font-weight: 600;
            text-transform: uppercase;
            @include transition(all 0.2s ease-in-out);
            @include border-radius(5px);

            @media only screen and (max-width: $collapseNavbarWidth) {
                max-width: 250px;
                min-width: 250px;
                opacity: 0;
                margin: 0.2rem 0.5rem;
                font-size: 0.9rem;
            }

            &.bigScreen {
                opacity: 1 !important;
            }

            &.web {
                &:hover,
                &:focus,
                &.selected {
                    color: #48f6d3;
                }

                &:focus {
                    @include box-shadow(0 0 0 5px #48f6d3);
                }
            }

            &.game {
                &:hover,
                &:focus,
                &.selected {
                    color: #fbb189;
                }

                &:focus {
                    @include box-shadow(0 0 0 5px #fbb189);
                }
            }

            &.design {
                &:hover,
                &:focus,
                &.selected {
                    color: #e0a6fd;
                }

                &:focus {
                    @include box-shadow(0 0 0 5px #e0a6fd);
                }
            }
        }
    }
}

// ###################################################
//      FOOTER
// ###################################################

.footer {
    position: -webkit-sticky;
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    bottom: -10rem;
    overflow: visible;

    .apps {
        position: relative;
        height: 5rem;
        width: fit-content;
        max-width: 1500px;
        overflow: visible;
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(0rem);
        @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.3));
        @include border-radius(1.5rem);
        @include transition(all 0.4s ease-in-out);

        @media only screen and (max-width: $collapseNavbarWidth) {
            height: 4rem;
            max-width: 100%;
            width: 100%;
            margin: 0;
            @include border-radius(0);
        }

        &.appsHidden {
            transform: translateY(6rem);
        }

        .icons {
            position: relative;
            flex-grow: 1;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow-x: auto;

            @media only screen and (max-width: $collapseNavbarWidth) {
                align-items: unset;
                justify-content: unset;
                flex-grow: unset;
            }

            .icon {
                height: 3.4rem;
                margin: 0.8rem 0 0.8rem 0.8rem;
                transform: scale(1);
                @include box-shadow(0 0 10px 0 rgba(0, 0, 0, 0.3));
                @include border-radius(25%);
                @include transition(all 0.2s ease-in-out);

                @media only screen and (max-width: $collapseNavbarWidth) {
                    height: 3rem;
                    min-height: 3rem;
                    max-height: 3rem;
                    width: 3rem;
                    min-width: 3rem;
                    max-width: 3rem;
                    margin: 0.5rem 0 0.5rem 0.5rem;
                }

                &:hover {
                    transform: scale(1.1);

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        transform: scale(1);
                    }
                }
            }

            .spacing {
                height: 100%;
                min-height: 100%;
                max-height: 100%;
                width: 0.8rem;
                min-width: 0.8rem;
                max-width: 0.8rem;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    width: 0.5rem;
                    min-width: 0.5rem;
                    max-width: 0.5rem;
                }
            }
        }
    }

    .goTopContainer {
        position: absolute;
        right: 0;
        top: 10px;
        width: 3rem;
        height: 3rem;
        margin: 1rem;
        transform: scale(1);
        opacity: 0;
        @include border-radius(100vw);
        @include box-shadow(0 0 15px 0 rgba(0, 0, 0, 0.4));
        @include transition(all 0.2s ease-in-out);

        @media only screen and (max-width: $collapseNavbarWidth) {
            top: -3.5rem;
            height: 2.5rem;
            min-height: 2.5rem;
            max-height: 2.5rem;
            width: 2.5rem;
            min-width: 2.5rem;
            max-width: 2.5rem;
            margin: 0.5rem;
        }

        .goTop {
            width: 100%;
            height: 100%;
            padding: 0.9rem;
            transform: rotate(90deg);
            color: white;

            @media only screen and (max-width: $collapseNavbarWidth) {
                padding: 0.7rem;
            }
        }

        &:hover {
            transform: scale(1.1);

            @media only screen and (max-width: $collapseNavbarWidth) {
                transform: scale(1);
            }
        }

        &.visible {
            opacity: 1;
        }
    }

    .info {
        height: 10rem;
        width: 100%;
        background-color: rgb(75, 75, 75);
        // overflow: visible;
    }
}

// ###################################################
//      SPLASH SCREEN
// ###################################################

.splashScreen {
    position: -webkit-sticky;
    position: sticky;
    height: calc(50% - #{$navbarHeight / 2});
    width: 100%;
    top: calc(#{$navbarHeight} - calc(calc(50% - #{$navbarHeight / 2}) - 20px));
    z-index: 40;
    @include box-shadow(0 0 20px 0 rgba(0, 0, 0, 0.5));

    @media only screen and (max-width: $collapseNavbarWidth) {
        height: calc(50% - #{$navbarHeight / 2 * 0.7});
        top: calc(#{$navbarHeight * 0.7} - calc(calc(50% - #{$navbarHeight / 2 * 0.7}) - 20px));
    }

    .titleContainer {
        pointer-events: none;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;

        .title {
            width: 90%;
            max-width: 700px;
            z-index: 5;
            margin-bottom: 5%;
        }
    }
}

// ###################################################
//      GLASS
// ###################################################

.glass {
    background: radial-gradient(circle, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.1) 75%);
    background-position: 50px -150px;
    border: solid 1px rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    @include box-shadow(0 0 15px rgba(0, 0, 0, 0.2));
    @include border-radius(20px);

    &.opaque {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.6) 75%);
    }

    &.black {
        border: solid 1px rgba(71, 71, 71, 0.15);
        background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.6) 75%);
    }

    &.apps {
        background: radial-gradient(circle, rgba(255, 255, 255, 0.6) 0%, rgba(255, 255, 255, 0.3) 75%);
        backdrop-filter: blur(10px);
    }

    //  WEB DEV
    // ###################################################

    &.matchEat {
        background: radial-gradient(circle, rgba(255, 119, 101d, 0.3) 0%, rgba(255, 119, 101, 0.5) 75%);
    }

    &.gstocks {
        background: radial-gradient(circle, rgba(44, 255, 195, 0.3) 0%, rgba(13, 190, 140, 0.5) 75%);
    }

    &.spot {
        background: radial-gradient(circle, rgba(52, 194, 63, 0.3) 0%, rgba(52, 194, 63, 0.5) 75%);
    }

    &.reddon {
        background: radial-gradient(circle, rgba(255, 106, 46, 0.3) 0%, rgba(255, 106, 46, 0.5) 75%);
    }

    &.portfolio {
        background: radial-gradient(circle, rgba(133, 255, 228, 0.3) 0%, rgba(133, 255, 228, 0.5) 75%);
    }

    //  GAME DEV
    // ###################################################

    &.neoWar {
        background: radial-gradient(circle, rgba(237, 97, 255, 0.3) 0%, rgba(255, 90, 178, 0.5) 75%);
    }

    &.cubic {
        background: radial-gradient(circle, rgba(92, 140, 217, 0.3) 0%, rgba(92, 140, 217, 0.5) 75%);
    }

    &.letsDrive {
        background: radial-gradient(circle, rgba(255, 223, 155, 0.3) 0%, rgba(255, 161, 38, 0.5) 75%);
    }

    &.trickshots {
        background: radial-gradient(circle, rgba(130, 195, 86, 0.3) 0%, rgba(130, 195, 86, 0.5) 75%);
    }

    &.holochess {
        background: radial-gradient(circle, rgba(144, 93, 56, 0.3) 0%, rgba(144, 93, 56, 0.5) 75%);
    }

    &.escape {
        background: radial-gradient(circle, rgba(49, 49, 49, 0.4) 0%, rgba(51, 51, 51, 0.6) 75%);
    }

    &.infinityGallery {
        background: radial-gradient(circle, rgba(184, 184, 184, 0.3) 0%, rgba(184, 184, 184, 0.5) 75%);
    }

    &.portal {
        background: radial-gradient(circle, rgba(102, 102, 102, 0.4) 0%, rgba(95, 95, 95, 0.6) 75%);
    }
    //  PRODCT DESIGN
    // ###################################################

    &.smartBike {
        background: radial-gradient(circle, rgba(184, 184, 184, 0.3) 0%, rgba(184, 184, 184, 0.5) 75%);
    }

    &.holoLens {
        background: radial-gradient(circle, rgba(197, 73, 51, 0.3) 0%, rgba(197, 73, 51, 0.5) 75%);
    }

    &.gwood {
        background: radial-gradient(circle, rgba(243, 71, 120, 0.3) 0%, rgba(144, 33, 65, 0.5) 75%);
    }

    &.orbit {
        background: radial-gradient(circle, rgba(62, 191, 255, 0.3) 0%, rgba(62, 191, 255, 0.5) 75%);
    }

    &.showBattle {
        background: radial-gradient(circle, rgba(144, 93, 56, 0.3) 0%, rgba(144, 93, 56, 0.5) 75%);
    }

    &.smartWatch {
        background: radial-gradient(circle, rgba(102, 102, 102, 0.4) 0%, rgba(95, 95, 95, 0.6) 75%);
    }
}

// ###################################################
//      BACKGROUND
// ###################################################

.background {
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .webPattern {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("resources/patterns/electronicPattern.svg");
        background-size: 300px 300px;
        opacity: 0.2;

        @media only screen and (max-width: $collapseNavbarWidth) {
            background-size: 200px 200px;
        }
    }

    .gamePattern {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("resources/patterns/gamingPattern.svg");
        background-size: 200px 200px;
        opacity: 0.25;

        @media only screen and (max-width: $collapseNavbarWidth) {
            background-size: 150px 150px;
        }
    }

    .designPattern {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: url("resources/patterns/designPattern.svg");
        background-size: 300px 300px;
        opacity: 0.15;

        @media only screen and (max-width: $collapseNavbarWidth) {
            background-size: 200px 200px;
        }
    }
}

// ###################################################
//      PROJECT
// ###################################################

.project {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(100px);
    width: 95%;
    max-width: 1500px;
    overflow: visible;
    opacity: 0;
    margin: 4rem;
    @include transition(all 0.5s ease-in-out);
    @include border-radius(50px);

    @media only screen and (max-width: $collapseNavbarWidth) {
        margin: 1rem;
        @include border-radius(25px);
    }

    &.revealed {
        transform: translateY(0);
        opacity: 1;
    }

    .splashscreen {
        height: 100vh;
        max-height: 25rem;
        width: calc(100% - 4rem);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        margin: 2rem;
        @include border-radius(20px);

        @media only screen and (max-width: $collapseNavbarWidth) {
            max-height: 40vh;
            width: calc(100% - 1rem);
            margin: 0.5rem;
        }
    }

    .mainContainer {
        position: relative;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        height: 100%;
        min-height: 27rem;
        width: 100%;
        overflow: visible;

        @media only screen and (max-width: $collapseNavbarWidth) {
            flex-direction: column;
        }

        .infoContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 40%;
            padding-right: 1rem;

            @media only screen and (max-width: $collapseNavbarWidth) {
                width: 100% !important;
                padding-right: 0;

                &.horizontal {
                    width: 100% !important;
                }
            }

            &.noVideo {
                width: 50%;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    width: 100%;
                }

                &.horizontal {
                    width: 40%;
                }
            }

            &.horizontal {
                width: 50%;
            }

            .profileContainer {
                display: flex;
                align-items: center;
                justify-content: center;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    flex-direction: column;
                }

                .icon {
                    height: 8rem;
                    max-height: 8rem;
                    min-height: 8rem;
                    width: 8rem;
                    max-width: 8rem;
                    min-width: 8rem;
                    margin-bottom: rem;
                    margin-left: 2rem;

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        height: 5rem;
                        max-height: 5rem;
                        min-height: 5rem;
                        width: 5rem;
                        max-width: 5rem;
                        min-width: 5rem;
                        margin: 1rem 0 0.5rem;
                    }
                }

                .titleContainer {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    align-items: center;
                    justify-content: center;
                    padding-left: 1rem;

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        padding: 0 0.5rem;
                    }

                    .title {
                        width: 100%;
                        color: $text;
                        margin-bottom: 0.2rem;
                        font-size: 1.6rem;
                        font-weight: 800;
                        text-align: left;

                        @media only screen and (max-width: $collapseNavbarWidth) {
                            font-size: 1.4rem;
                            text-align: center;
                        }
                    }

                    .subtitle {
                        width: 100%;
                        color: $text;
                        opacity: 0.6;
                        font-size: 1.1rem;
                        font-weight: 600;
                        text-align: left;

                        @media only screen and (max-width: $collapseNavbarWidth) {
                            font-size: 1rem;
                            text-align: center;
                        }
                    }
                }
            }

            .description {
                width: calc(100% - 2rem);
                color: $text;
                margin-left: 2rem;
                padding-top: 1rem;
                font-size: 1.1rem;
                font-weight: 600;
                text-align: left;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    display: none;
                    width: 100%;
                    margin-left: 0;
                    padding: 1rem 0.5rem 0;
                    font-size: 1rem;
                    text-align: center;
                }

                &.first {
                    padding-top: 2rem;
                }
            }

            .process {
                color: rgba(0, 0, 0, 0.507);
                margin: 2rem 0 0.5rem 2rem;
                padding: 1rem;
                font-size: 1.1rem;
                font-weight: 700;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    display: none;
                    width: calc(100% - 2rem);
                    margin: 2rem 1rem 0.5rem;
                    padding: 1rem;
                    font-size: 1rem;
                    text-align: center;
                }
            }

            .linksContainer {
                display: flex;
                align-items: center;
                width: 100%;
                overflow: visible;
                margin: 1rem 0;
                padding-left: 1.5rem;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    justify-content: center;
                    padding-left: 0;
                }

                .link {
                    transform: scale(1);
                    height: 5rem;
                    max-height: 5rem;
                    min-height: 5rem;
                    width: 5rem;
                    max-width: 5rem;
                    min-width: 5rem;
                    cursor: none;
                    margin: 1rem 0.5rem 1rem;
                    @include transition(all 0.2s ease-in-out);

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        height: 4rem;
                        max-height: 4rem;
                        min-height: 4rem;
                        width: 4rem;
                        max-width: 4rem;
                        min-width: 4rem;
                        margin: 1rem 0.5rem 1rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    .linkIcon {
                        height: 100%;
                        width: 100%;
                        padding: 1rem;
                    }
                }

                .qr {
                    transform: scale(1);
                    height: 12rem;
                    max-height: 12rem;
                    min-height: 12rem;
                    width: 12rem;
                    max-width: 12rem;
                    min-width: 12rem;
                    cursor: none;
                    margin: 1rem 0.5rem 1rem;
                    @include transition(all 0.2s ease-in-out);

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        margin: 1rem 0.5rem 1rem;
                    }

                    &:hover {
                        transform: scale(1.1);
                    }

                    .qrIcon {
                        height: 100%;
                        width: 100%;
                        padding: 1rem;
                    }
                }
            }
        }

        .mediaContainer {
            position: relative;
            display: flex;
            align-items: center;
            width: 60%;
            overflow: visible;

            @media only screen and (max-width: $collapseNavbarWidth) {
                flex-direction: column;
                width: 100%;
            }

            &.noVideo {
                width: 50%;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    width: 100%;
                }
            }

            &.horizontal {
                flex-direction: column;
                height: 0;
                width: 60%;
                padding-top: 60%;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    height: unset;
                    width: 100%;
                    padding-top: unset;
                }

                &.noVideo {
                    height: unset;
                    padding-top: unset;

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        width: 100%;
                    }
                }

                .videoContainer {
                    position: absolute;
                    height: calc(50% - 4rem);
                    width: unset;
                    top: 0;
                    margin: 0 4rem;
                    @include border-radius(15px);

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        position: relative;
                        height: unset;
                        width: calc(100% - 1rem);
                        margin: 0 0.5rem 2rem;
                        video {
                            width: 100% !important;
                        }
                    }

                    &.letsDrive {
                        margin: 0 1.3rem;
                    }

                    &.neoWar {
                        margin: 0 5.9rem 1.5rem;
                    }

                    &.escape {
                        height: calc(50% - 5.4rem);
                    }

                    .video {
                        height: 100%;
                        width: 100%;
                    }
                }

                .screenshotsContainer {
                    height: calc(50% + 5rem);
                    width: 100%;
                    right: unset;
                    bottom: 0;

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        height: 29vh;
                        width: 100%;
                        margin: 0 0 1rem;

                        &.letsDrive {
                            margin: 2rem 0 0;
                        }
                    }

                    &.noVideo {
                        position: relative;
                        height: fit-content;
                        width: 100%;
                        top: 0;
                        bottom: unset;

                        @media only screen and (max-width: $collapseNavbarWidth) {
                            height: 29vh;
                            width: 100%;
                        }
                    }
                }
            }

            .videoContainer {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                width: calc(50% - 4rem);
                margin: 0 2rem 2rem;
                @include border-radius(15px);
                @include box-shadow(0 0 20px rgba(0, 0, 0, 0.3));

                @media only screen and (max-width: $collapseNavbarWidth) {
                    height: 60vh;
                    width: unset;
                    margin: 0 0.5rem 2rem;
                    video {
                        width: unset !important;
                    }
                }

                .video {
                    height: 100%;
                    width: 100%;
                }

                .videoIconContainer {
                    pointer-events: none;
                    position: absolute;
                    height: 3.5rem;
                    max-height: 3.5rem;
                    min-height: 3.5rem;
                    width: 3.5rem;
                    max-width: 3.5rem;
                    min-width: 3.5rem;
                    background-color: $cursor-active-color;
                    opacity: 0;

                    @media only screen and (max-width: $collapseNavbarWidth) {
                        opacity: 1;

                        &.playing {
                            opacity: 0;
                        }
                    }

                    @include border-radius(100vw);
                    @include transition(all 0.4s ease-in-out);
                    @include box-shadow(0 0 20px rgba(0, 0, 0, 0.3));

                    .videoPlayIcon {
                        height: 100%;
                        width: 100%;
                        margin: 1px 0 0 2px;
                        padding: 1.2rem;
                    }
                }
            }

            .screenshotsContainer {
                pointer-events: none;
                position: absolute;
                height: 100%;
                width: calc(50% + 5rem);
                right: 0;
                overflow: visible;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    position: relative;
                    height: 60vh;
                    width: 100%;
                }

                &.noVideo {
                    position: relative;
                    height: 60vh;
                    width: 100%;
                }
            }
        }
    }
}

// #######################################
//      DECK
// #######################################

.deck {
    pointer-events: none;
    position: relative;
    height: 100%;
    width: 100%;
    overflow: visible;
    box-sizing: border-box;

    .noVideo & {
        .horizontal & {
            height: fit-content;
        }
    }

    .horizontal & {
        @media only screen and (max-width: $collapseNavbarWidth) {
            height: fit-content;
        }
    }

    .card {
        position: absolute;
        display: flex;
        justify-content: center;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        overflow: visible;
        will-change: transform;
        touch-action: pan-y;

        .noVideo & {
            .horizontal & {
                height: fit-content;
                width: 80%;
                margin-right: 2.5rem;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    width: 100%;
                    margin-right: 0;
                }
            }
        }

        .horizontal & {
            @media only screen and (max-width: $collapseNavbarWidth) {
                height: fit-content;
            }
        }

        .cardContent {
            pointer-events: all;
            user-select: none;
            height: calc(100% - 3rem);
            z-index: 5;
            background-color: rgb(255, 255, 255);
            margin-left: 4rem;
            will-change: transform;
            @include border-radius(15px);
            @include box-shadow(0 10px 40px -8px rgba(0, 0, 0, 0.4));

            @media only screen and (max-width: $collapseNavbarWidth) {
                margin-left: 0;
            }

            .noVideo & {
                .horizontal & {
                    height: fit-content;
                    margin-left: 0;
                    margin-top: 0;
                }
            }

            .horizontal & {
                height: calc(100% - 8rem);
                margin-left: unset;
                margin-top: 4rem;

                @media only screen and (max-width: $collapseNavbarWidth) {
                    position: relative;
                    height: fit-content;
                    width: calc(100% - 1rem);
                    margin-top: unset;
                }
            }

            .cardImage {
                pointer-events: none;
                height: calc(100% - 2rem);
                margin: 1rem;
                @include border-radius(5px);

                @media only screen and (max-width: $collapseNavbarWidth) {
                    height: calc(100% - 1rem);
                    margin: 0.5rem;
                }

                .noVideo & {
                    .horizontal & {
                        height: unset;
                        width: calc(100% - 2rem);

                        @media only screen and (max-width: $collapseNavbarWidth) {
                            width: calc(100% - 1rem);
                        }
                    }
                }

                .horizontal & {
                    @media only screen and (max-width: $collapseNavbarWidth) {
                        height: unset;
                        width: calc(100% - 1rem);
                        margin: 0.5rem;
                    }
                }
            }
        }
    }
}
